.product {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #d0eaf1;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.btn-edit {
  background-color: #64d8f0;
}
.btn-delete {
  background-color: rgb(251, 96, 132);
}
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}
.cake-list {
  display: flex;
  flex-wrap: wrap;
}

.cake-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

/* 
.product .modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.product .overlay {
  background: rgba(49, 49, 49, 0.8);
}
.product .modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.product .close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
} */
